---
layout: layout.liquid
title: JG's Everyday Carries
---

<h1>John Goodwin's Everyday Carries</h1>
<h2>Welcome to my list of the three items I always have to bring with me, no matter where I go. Click on the images (or the links at the bottom of your screen) to learn more!</h2>
<div>
    <a href="/item1/"><img src="/images/waterbottle.jpeg" alt="Water bottle"></a>
    <a href="/item2/"><img src="/images/tylenol.jpeg" alt="Tylenol"></a>
    <a href="/item3/"><img src="/images/jacket.jpeg" alt="Jacket"></a>
</div>