<nav>
    <ul>
      <li><a href="/" title="Go home">Home</a></li>
      <li><a href="/item1/" title="About the boilerplate">Item #1</a></li>
      <li><a href="/" title="Go home">Item #2</a></li>
      <li><a href="/about/" title="About the boilerplate">Item #3</a></li>
    </ul>
  </nav>