<nav>
    <ul>
      <li><a href="/" title="Homepage">Home</a></li>
      <li><a href="/item1/" title="Item 1">Everyday Carry #1</a></li>
      <li><a href="/item2/" title="Item 2">Everyday Carry #2</a></li>
      <li><a href="/item3/" title="Item 3">Everyday Carry #3</a></li>
    </ul>
  </nav>