body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(32, 32, 32);
    background: linear-gradient(90deg,#F2994A,#F2C94C);
    padding: 0px;
    text-align: center;
}

div {
    display:flex;
    gap:10px;
    padding:15px;
}

div img {
    width:100%;
}

footer {
    position:sticky;
    bottom:0px;
}

nav {
    margin: 0px;
    background:darkred;
    width:100%;
    border-radius: 10px;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    margin: 0px;
    padding: 0px;
}

nav ul li {
    list-style-type: none;
    margin: 0;
}

nav ul li a {
    display: flex;
    padding: 20px;
    color: #ffd000;
    text-decoration: none;
    font-weight:bolder;
}

h1 {
    font-size: 64px;
    color:rgb(0, 0, 85);
}

img.pageItem {
    width: 500px;
}